$bg: #ecf0f1;
$second-a: #0e0d0d;
$bg2: #ccc;
$place: #f3f2efb6;
$place2: #dbd3d3;
$small: #9e98b3c2;
$homecolor2: #9e98b3;
$white: #ffffff;
$whitetransparency: #ffffff80;
$colorhover: #d79316;
$color: #ffae18;
$linearbg: #0d2d42;
$hover2: #0d2d42;
$transparent: transparent;
$btn-color: #f8225f;
$spancolor: #eb0b5e;
$error: #e74c3c;
$danger: #fb5151;
$hover: #661429;
$bgHead: #316d95;
$family: "Poppins", sans-serif;
$font2: "Roboto", sans-serif;
$success: #2ecc71;
$check: #7af57a;
$errorCircle: #e72300;
$darkcolor: #151221;
$homecolor1: #241e38;
$black: #000000;
$transparentblack: #000000bf;
$bg1b: #6b4ce6;
$bg1b2: #2f1c7c;
$bg1: $bg1b;
$bg2b: #e6d14c;
$bg3: #e64c61;
$bg4: #4ce69e;
$bg5: #4cade6;
$shadow1: 0 0 1rem $bg1b;
