* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #ecf0f1;
}

.my-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81vw;
  line-height: 1.4;
  padding: 10px 42px;
}

@media screen and (min-width: 500px) {
  .my-small {
    width: 52vw;
  }
}

@media screen and (min-width: 580px) {
  .my-small {
    width: 45vw;
  }
}

@media screen and (min-width: 670px) {
  .my-small {
    width: 39vw;
  }
}

@media screen and (min-width: 772px) {
  .my-small {
    width: 34vw;
  }
}

@media screen and (min-width: 886px) {
  .my-small {
    width: 32vw;
  }
}

@media screen and (min-width: 942px) {
  .my-small {
    width: 28vw;
  }
}

@media screen and (min-width: 1076px) {
  .my-small {
    width: 24vw;
  }
}

@media screen and (min-width: 1258px) {
  .my-small {
    width: 21vw;
  }
}

@media screen and (min-width: 1308px) {
  .my-small {
    width: 18vw;
  }
}

.about h2 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

@media screen and (min-width: 400px) {
  .about h2 {
    font-size: 21px;
    padding: 0 7px 0 0px;
    text-align: justify;
  }
}

@media screen and (min-width: 486px) {
  .about h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 586px) {
  .about h2 {
    width: 80%;
  }
}

@media screen and (min-width: 786px) {
  .about h2 {
    text-align: left;
    font-size: 20px;
  }
}

@media screen and (min-width: 934px) {
  .about h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1091px) {
  .about h2 {
    width: 70%;
  }
}

@media screen and (min-width: 1401px) {
  .about h2 {
    width: 60%;
    font-size: 29px;
  }
}

.mytexts {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}

@media screen and (min-width: 430px) {
  .mytexts {
    text-align: justify;
  }
}

@media screen and (min-width: 530px) {
  .mytexts {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) {
  .mytexts {
    text-align: unset;
    font-size: 30px;
  }
}

@media screen and (min-width: 786px) {
  .mytexts {
    font-size: 20px;
  }
}

@media screen and (min-width: 1051px) {
  .mytexts {
    font-size: 24px;
  }
}

@media screen and (min-width: 1228px) {
  .mytexts {
    width: 90%;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@media screen and (min-width: 1350px) {
  .mytexts {
    font-size: 28px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@media screen and (min-width: 1550px) {
  .mytexts {
    font-size: 32px;
  }
}

@media screen and (min-width: 1600px) {
  .mytexts {
    width: 80%;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

@media screen and (min-width: 1800px) {
  .mytexts {
    width: 60%;
    -webkit-transform: translateX(-190px);
            transform: translateX(-190px);
  }
}

.conditions {
  font-size: 13px;
  font-weight: 500;
  word-spacing: 2px;
}

.conditions span {
  color: #eb0b5e;
}

@media screen and (min-width: 500px) {
  .conditions {
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (min-width: 580px) {
  .conditions {
    width: 70%;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    text-align: center;
  }
}

@media screen and (min-width: 690px) {
  .conditions {
    width: 60%;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

@media screen and (min-width: 786px) {
  .conditions {
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1037px) {
  .conditions {
    width: 70%;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

@media screen and (min-width: 1500px) {
  .conditions {
    -webkit-transform: translateX(106px);
            transform: translateX(106px);
  }
}

@media screen and (min-width: 1601px) {
  .conditions {
    -webkit-transform: none;
            transform: none;
  }
}

.fa-check-circle {
  color: #7af57a;
}

.fa-exclamation-circle {
  color: #e72300;
}

.height {
  max-height: 100vh !important;
}

.site {
  position: relative;
}

.site .settings-help {
  position: absolute;
  top: 47px;
  left: -186px;
  overflow: hidden;
  width: 18rem;
  background-color: #ffffff;
  border-radius: 1rem;
  line-height: 2;
  max-height: 0;
  -webkit-transition: max-height 0.8s linear;
  transition: max-height 0.8s linear;
  -webkit-box-shadow: 0 0 1rem #000000;
          box-shadow: 0 0 1rem #000000;
}

@media screen and (max-width: 1300px) {
  .site .settings-help {
    left: -240px;
  }
}

@media screen and (max-width: 749px) {
  .site .settings-help {
    left: -210px;
  }
}

.site .settings-help a {
  text-decoration: none;
  color: #0e0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site .settings-help h5 {
  font-size: 1rem;
  color: #000000;
  border-bottom: 1px solid #9e98b3c2;
  padding: 9px 13px;
}

.site .settings-help .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9px 13px;
  border-bottom: 1px solid #9e98b3c2;
}

.site .settings-help .log-out {
  padding: 9px 13px;
}

.my-flexWorld {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift {
  color: #2f1c7c;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.w-95 {
  width: 95% !important;
}

.w-55 {
  width: 55% !important;
}

.w-40 {
  width: 40% !important;
}

.w-4 {
  width: 48px;
}

.w-3 {
  width: 30px;
}

.fluid {
  max-width: 100%;
}

.f-d-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-d-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-control {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 35px;
}

.input-control {
  height: 43px;
  padding: 18px;
  background-color: transparent;
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  border-bottom: 2px solid #ffffff;
}

@media screen and (min-width: 800px) {
  .input-control {
    font-size: 18px;
    height: 50px;
  }
}

.input-control::-webkit-input-placeholder {
  color: #ffffff;
}

.input-control:-ms-input-placeholder {
  color: #ffffff;
}

.input-control::-ms-input-placeholder {
  color: #ffffff;
}

.input-control::placeholder {
  color: #ffffff;
}

.input-control:focus {
  border: 2px solid #ffffff;
  border-radius: 12px;
  outline: none;
}

.padding {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 18px;
}

.padding-t-1 {
  padding-top: 20px;
}

.padding-b-2 {
  padding-bottom: 1vh !important;
}

.p-left-1 {
  padding-left: 12px !important;
}

.p-left-2 {
  padding-left: 18px !important;
}

.p-left-3 {
  padding-left: 22px !important;
}

.p-left-4 {
  padding-left: 26px !important;
}

.p-left-5 {
  padding-left: 32px !important;
}

.margin-b-1 {
  margin-bottom: 30px;
}

.margin-b-2 {
  margin-bottom: 1rem;
}

.margin-b-4 {
  margin-bottom: 15px;
}

.margin-b-5 {
  margin-bottom: 10px;
}

.small-margin {
  margin-left: 3px;
}

.margin-t-1 {
  margin-top: 1em;
}

.margin-t-2 {
  margin-top: 2.5em;
}

.margin-t-3 {
  margin-top: 15px;
}

.margin-t-4 {
  margin-top: 22px;
}

.margin-t-5 {
  margin-top: 10px;
}

.margin-sides {
  margin: 0 20px;
}

.main-p {
  padding: 0 29px 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.display-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-item-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.align-item-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fixedPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

.a {
  text-decoration: none;
  color: #ffffff;
}

.rounded-ball {
  border-radius: 100%;
}

.side-space {
  padding: 0 80px;
}

.padding-tb-1 {
  padding-top: 19px;
  padding-bottom: 10px;
}

.display-n {
  display: none;
}

.text-transform-Upper {
  text-transform: uppercase;
}

.color-white {
  color: #ffffff;
}

.color-dark {
  color: #000000 !important;
}

.font-1 {
  font-size: 18px !important;
  font-weight: 600;
}

.font-3 {
  font-size: 16px;
  font-weight: 600;
}

.font-4 {
  font-size: 30px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.font-2 {
  font-size: 12px;
  font-weight: 600;
}

.font-5 {
  font-size: 15px;
  font-weight: 700;
}

.size-f {
  font-size: 1.4rem;
}

.small-circle {
  border-radius: 6px;
}

.small-circle-2 {
  border-radius: 12px;
}

.medium-circle {
  border-radius: 20px;
}

.success {
  border-color: #2ecc71 !important;
}

.success:focus {
  border-color: #2ecc71 !important;
}

.errorp {
  color: #e72300;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

@media screen and (min-width: 786px) {
  .errorp {
    font-size: 14px;
  }
}

.errorc {
  color: #7af57a;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

@media screen and (min-width: 786px) {
  .errorc {
    font-size: 14px;
  }
}

.error {
  border-color: #e74c3c !important;
}

.error:focus {
  border-color: #e74c3c !important;
}

.show {
  visibility: visible !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-first {
  background-color: #6b4ce6;
}

.font-bold {
  font-weight: 500;
}

.profile-img {
  width: 2.7rem;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.profile-img:hover {
  cursor: pointer;
}

.text-muted {
  color: #9e98b3c2;
}

.searchbar {
  background: #ccc;
  padding: 0.7rem 2rem;
  margin-left: 1rem;
  gap: 12px;
  border-radius: 50px;
}

.searchbar input {
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  width: 30vw;
}

.searchbar input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #f3f2efb6;
  font-weight: 500;
}

.searchbar input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #f3f2efb6;
  font-weight: 500;
}

.searchbar input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #f3f2efb6;
  font-weight: 500;
}

.searchbar input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #f3f2efb6;
  font-weight: 500;
}

.searchbar input:focus {
  border: none;
  outline: none;
}

.searchbar i {
  color: #f3f2efb6;
}

.text-bold {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.myboxshadow {
  -webkit-box-shadow: 0 0 1rem #6b4ce6;
          box-shadow: 0 0 1rem #6b4ce6;
}

.bg-1 {
  background-color: #ecf0f1;
  color: #000000;
}

.bg-2 {
  background-color: #241e38;
  color: #ffffff;
}

.bg-2 .header {
  background-color: #2f1c7c;
}

.bg-2 .profile {
  background-color: #2f1c7c !important;
  color: #ffffff !important;
}

.bg-2 .sideMenu {
  background-color: #2f1c7c !important;
}

.bg-2 .notification-update {
  background-color: #2f1c7c !important;
}

.bg-2 .notification-update::before {
  background-color: #2f1c7c !important;
}

.bg-2 .Createpost {
  background-color: #2f1c7c !important;
}

.bg-2 .Createpost .createinput {
  color: #ffffff !important;
}

.bg-2 .Createpost .createinput::-webkit-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .Createpost .createinput:-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .Createpost .createinput::-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .Createpost .createinput::placeholder {
  color: #ffffff !important;
}

.bg-2 .feed {
  background-color: #2f1c7c !important;
}

.bg-2 .messagesarea {
  background-color: #2f1c7c !important;
}

.bg-2 .request {
  background-color: #2f1c7c !important;
}

.bg-2 .searchbar {
  background-color: #6b4ce6 !important;
}

.bg-2 .searchbar input {
  color: #ffffff !important;
}

.bg-2 .searchbar input::-webkit-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .searchbar input:-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .searchbar input::-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-2 .searchbar input::placeholder {
  color: #ffffff !important;
}

.bg-2 .settings-help {
  background-color: #2f1c7c !important;
}

.bg-2 .settings-help h5 {
  color: #ffffff !important;
}

.bg-2 .settings-help a {
  color: #ffffff !important;
  font-weight: 500 !important;
}

.bg-3 {
  background-color: #000000;
  color: #ffffff;
}

.bg-3 .header {
  background-color: #151221;
}

.bg-3 .profile {
  background-color: #151221 !important;
  color: #ffffff !important;
}

.bg-3 .sideMenu {
  background-color: #151221 !important;
}

.bg-3 .notification-update {
  background-color: #151221 !important;
}

.bg-3 .notification-update::before {
  background-color: #151221 !important;
}

.bg-3 .Createpost {
  background-color: #151221 !important;
}

.bg-3 .Createpost .createinput {
  color: #ffffff !important;
}

.bg-3 .Createpost .createinput::-webkit-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .Createpost .createinput:-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .Createpost .createinput::-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .Createpost .createinput::placeholder {
  color: #ffffff !important;
}

.bg-3 .feed {
  background-color: #151221 !important;
}

.bg-3 .messagesarea {
  background-color: #151221 !important;
}

.bg-3 .request {
  background-color: #151221 !important;
}

.bg-3 .searchbar {
  background-color: #241e38 !important;
}

.bg-3 .searchbar input {
  color: #ffffff !important;
}

.bg-3 .searchbar input::-webkit-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .searchbar input:-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .searchbar input::-ms-input-placeholder {
  color: #ffffff !important;
}

.bg-3 .searchbar input::placeholder {
  color: #ffffff !important;
}

.bg-3 .settings-help {
  background-color: #151221 !important;
}

.bg-3 .settings-help h5 {
  color: #ffffff !important;
}

.bg-3 .settings-help a {
  color: #ffffff !important;
  font-weight: 500 !important;
}

.d-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-block {
  display: block !important;
}

.gap-1 {
  gap: 2rem;
}

.gap-2 {
  gap: 1rem;
}

.position-relative {
  position: relative;
}

.height-m {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.height-auto {
  height: auto;
}

.max-w-n {
  max-width: none !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.text-decoration-n {
  text-decoration: none;
}

.width-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.z-index-2 {
  z-index: 2;
}

.max {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
}

.loader {
  background-color: #ecf0f1;
}

.loader .holder {
  position: relative;
}

.loader h1 {
  -webkit-transform: translateY(50px) translateX(154px);
          transform: translateY(50px) translateX(154px);
  color: #ffae18;
}

.loader .logo {
  position: absolute;
  top: 150px;
  width: 50px;
  left: 215px;
}

.completed {
  -webkit-animation: complete 1s forwards;
          animation: complete 1s forwards;
}

@-webkit-keyframes complete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes complete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.login {
  background: #0d2d42;
  min-height: 100vh;
}

@media screen and (min-width: 786px) {
  .login {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em;
  }
}

.login .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .about .logos {
  margin-bottom: 12px;
}

@media screen and (min-width: 1400px) {
  .login .about .logos {
    width: 30%;
  }
}

.login .form {
  border: 2px solid #ffffff;
  width: 95%;
}

@media screen and (min-width: 786px) {
  .login .form {
    max-width: 100%;
  }
}

.login .form .h4 {
  letter-spacing: 2px;
  margin-bottom: 16px;
}

@media screen and (min-width: 786px) {
  .login .form .h4 {
    font-size: 40px;
  }
}

.login .form .label {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 786px) {
  .login .form .label {
    font-size: 20px;
  }
}

.login .form .user .emailuser {
  position: relative;
}

.login .form .user .emailuser .myusericon {
  position: absolute;
  top: 13px;
  left: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  font-size: 16px;
}

@media screen and (min-width: 786px) {
  .login .form .user .emailuser .myusericon {
    top: 15px;
  }
}

.login .form .user .emailuser .firstsigns {
  position: absolute;
  top: 15px;
  right: 10px;
  visibility: hidden;
}

.login .form .loginbtn {
  border: 2px solid #ffae18;
  margin-bottom: 20px;
  background-color: #ffae18;
  padding: 10px;
  height: 41px;
}

.login .form .loginbtn:hover {
  cursor: pointer;
  background-color: #d79316;
  border: 2px solid #d79316;
}

@media screen and (min-width: 700px) {
  .login .form .loginbtn {
    width: 90% !important;
    font-size: 20px;
  }
}

.login .form .forget {
  margin: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login .form .forget a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.login .form .sign-up {
  margin-bottom: 40px;
}

.login .form .sign-up .option {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

@media screen and (min-width: 786px) {
  .login .form .sign-up .option {
    margin-right: 0;
  }
}

.login .form .sign-up .span a {
  margin-bottom: 0;
  border: 1px solid #ffffff;
  padding: 8px;
  height: 54px;
}

.login .form .sign-up .span a:first-child {
  margin-bottom: 3px;
}

.login .form .sign-up .span .fa-google {
  font-size: 32px;
}

@media screen and (min-width: 1100px) {
  .login .form .sign-up .span {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

.sign-up-form {
  background: #0d2d42;
}

.sign-up-form .signIn {
  background-color: #316d95;
  padding: 10px 29px;
}

@media screen and (min-width: 786px) {
  .sign-up-form .signIn {
    padding: 0 40px;
    padding-top: 19px;
    padding-bottom: 10px;
  }
}

.sign-up-form .signIn .loginBack {
  font-size: 14px;
}

@media screen and (min-width: 786px) {
  .sign-up-form .signIn .loginBack {
    display: none;
  }
}

@media screen and (min-width: 524px) {
  .sign-up-form .signIn .logoprime .logotext {
    display: block;
    font-size: 19px;
  }
}

@media screen and (min-width: 764px) {
  .sign-up-form .signIn .logoprime .logotext {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-form .signIn .logoprime .logotext {
    font-size: 30px;
  }
}

@media screen and (min-width: 786px) {
  .sign-up-form .signIn .myForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-form .signIn .myForm .usermails label {
    font-size: 20px;
  }
}

.sign-up-form .signIn .myForm .usermails .usermail {
  position: relative;
}

.sign-up-form .signIn .myForm .usermails .usermail input {
  background-color: #ffffff;
  height: 28px;
  width: 170px;
  border: 2px solid #ffffff;
}

.sign-up-form .signIn .myForm .usermails .usermail input::-webkit-input-placeholder {
  color: #000000;
}

.sign-up-form .signIn .myForm .usermails .usermail input:-ms-input-placeholder {
  color: #000000;
}

.sign-up-form .signIn .myForm .usermails .usermail input::-ms-input-placeholder {
  color: #000000;
}

.sign-up-form .signIn .myForm .usermails .usermail input::placeholder {
  color: #000000;
}

.sign-up-form .signIn .myForm .usermails .usermail input:focus {
  border: 2px solid #ffae18;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .sign-up-form .signIn .myForm .usermails .usermail input {
    width: 300px;
    height: 40px;
    font-size: 15px;
  }
}

.sign-up-form .signIn .myForm .usermails .usermail .circle2 {
  display: none;
}

@media screen and (min-width: 1300px) {
  .sign-up-form .signIn .myForm .usermails .usermail .circle2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 12px;
    right: 10px;
    visibility: hidden;
  }
}

.sign-up-form .signIn .myForm .signup-btn button {
  width: 58px;
  height: 29px;
  background-color: #ffae18;
}

@media screen and (min-width: 1200px) {
  .sign-up-form .signIn .myForm .signup-btn button {
    height: 40px;
    font-size: 19px;
    width: 70px;
  }
}

.sign-up-form .signIn .myForm .signup-btn button:hover {
  cursor: pointer;
  background-color: #d79316;
}

@media screen and (min-width: 1200px) {
  .sign-up-form .signIn .myForm .signup-btn {
    padding: 4px;
  }
}

@media screen and (min-width: 786px) {
  .sign-inSection .second-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 18px;
  }
}

@media screen and (min-width: 786px) {
  .sign-inSection .second-form .giphytext {
    padding: 0 25px;
    margin-top: 8vh;
  }
}

@media screen and (min-width: 786px) {
  .sign-inSection .second-form .connection {
    width: 300px;
  }
}

@media screen and (min-width: 1100px) {
  .sign-inSection .second-form .connection {
    width: 420px;
  }
}

.sign-inSection .second-form .signForms {
  border: 2px solid #ffffff;
}

@media screen and (min-width: 786px) {
  .sign-inSection .second-form .signForms {
    min-width: 54%;
  }
}

@media screen and (min-width: 1600px) {
  .sign-inSection .second-form .signForms {
    min-width: 739px;
  }
}

.sign-inSection .second-form .signForms .h3text {
  font-size: 26px;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .h3text {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .p {
    font-size: 18px;
  }
}

.sign-inSection .second-form .signForms .names {
  line-height: 50px;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .names label {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .sign-inSection .second-form .signForms .names label {
    font-size: 20px;
  }
}

.sign-inSection .second-form .signForms .names input {
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  height: 45px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.sign-inSection .second-form .signForms .names input::-webkit-input-placeholder {
  color: #ffffff;
}

.sign-inSection .second-form .signForms .names input:-ms-input-placeholder {
  color: #ffffff;
}

.sign-inSection .second-form .signForms .names input::-ms-input-placeholder {
  color: #ffffff;
}

.sign-inSection .second-form .signForms .names input::placeholder {
  color: #ffffff;
}

.sign-inSection .second-form .signForms .names input:focus {
  border: 2px solid #ffffff;
  outline: none;
}

.sign-inSection .second-form .signForms .names .icons {
  position: relative;
}

.sign-inSection .second-form .signForms .names .icons .valid {
  position: absolute;
  top: 15px;
  right: 16px;
  visibility: hidden;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .birthday label {
    font-size: 18px;
  }
}

.sign-inSection .second-form .signForms .birthday .options {
  gap: 10px;
  margin-top: 6px;
}

.sign-inSection .second-form .signForms .birthday .options #month {
  width: 33%;
  height: 30px;
  padding-left: 4px;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .options #month:focus {
  border: 2px solid #ffae18;
  outline: none;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .birthday .options #month {
    font-size: 15px;
    height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .sign-inSection .second-form .signForms .birthday .options #month {
    width: 39%;
  }
}

.sign-inSection .second-form .signForms .birthday .options #date {
  width: 22%;
  padding-left: 4px;
  height: 30px;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .options #date:focus {
  border: 2px solid #ffae18;
  outline: none;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .birthday .options #date {
    font-size: 15px;
    height: 40px;
  }
}

.sign-inSection .second-form .signForms .birthday .options #year {
  width: 40%;
  height: 30px;
  padding-left: 4px;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .options #year:focus {
  border: 2px solid #ffae18;
  outline: none;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .birthday .options #year {
    font-size: 15px;
    height: 40px;
  }
}

.sign-inSection .second-form .signForms .birthday .genderoptions {
  gap: 10px;
}

@media screen and (min-width: 600px) {
  .sign-inSection .second-form .signForms .birthday .genderoptions label {
    font-size: 15px;
  }
}

.sign-inSection .second-form .signForms .birthday .genderoptions .femaleRadio {
  width: 43%;
  padding: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .genderoptions .maleRadio {
  width: 33%;
  padding: 6px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .genderoptions .customRadio {
  width: 33%;
  padding: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.sign-inSection .second-form .signForms .birthday .btnsubmit button {
  width: 196px;
  height: 31px;
  background-color: #ffae18;
}

@media screen and (min-width: 786px) {
  .sign-inSection .second-form .signForms .birthday .btnsubmit button {
    width: 219px;
    height: 40px;
  }
}

.sign-inSection .second-form .signForms .birthday .btnsubmit button:hover {
  cursor: pointer;
  background-color: #d79316;
}

.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 1111;
}

.header .navHead {
  padding: 10px 0;
}

.header .navHead .logotext .logos {
  width: 2.7rem;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 661px) {
  .header .navHead .logotext .logos {
    width: 30%;
  }
}

.header .navHead .logotext h4 {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 662px) {
  .header .navHead .logotext h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .navHead .barIcon {
  width: 20%;
}

.header .navHead .barIcon i {
  font-size: 21px;
}

@media screen and (min-width: 940px) {
  .header .navHead .barIcon {
    display: none;
  }
}

@media screen and (min-width: 940px) {
  .header .navHead .searchbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 661px) {
  .header .navHead .createpost {
    gap: 13px;
  }
}

main {
  top: 5rem;
}

main .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18vw auto 19vw;
      grid-template-columns: 18vw auto 19vw;
}

@media screen and (max-width: 1300px) {
  main .content {
    -ms-grid-columns: 5rem auto 30vw;
        grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
}

@media screen and (max-width: 939px) {
  main .content {
    -ms-grid-columns: 0 auto 5rem;
        grid-template-columns: 0 auto 5rem;
    gap: 0;
  }
}

main .content .leftSide {
  position: -webkit-sticky;
  position: sticky;
  top: 5.2rem;
  right: -18rem;
}

@media screen and (max-width: 1200px) {
  main .content .leftSide {
    width: 5rem;
    z-index: 5;
  }
}

@media screen and (max-width: 939px) {
  main .content .leftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    background-color: #ffffff;
    max-height: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

main .content .leftSide .profile {
  background-color: #ffffff;
  color: #241e38;
  border-radius: 1rem;
}

@media screen and (max-width: 1300px) {
  main .content .leftSide .profile {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (max-width: 939px) {
  main .content .leftSide .profile {
    display: none;
    visibility: visible;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-box-shadow: 0 0 1rem #6b4ce6;
            box-shadow: 0 0 1rem #6b4ce6;
  }
}

main .content .leftSide .sideMenu {
  background-color: #ffffff;
  border-radius: 1rem;
}

@media screen and (max-width: 939px) {
  main .content .leftSide .sideMenu {
    height: 100vh;
    display: none;
    width: 98%;
    -webkit-transform: translateY(78px);
            transform: translateY(78px);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

main .content .leftSide .sideMenu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  gap: 0.2rem;
}

main .content .leftSide .sideMenu .menu-item:hover {
  background-color: #ccc;
}

main .content .leftSide .sideMenu .menu-item i {
  position: relative;
  color: #9e98b3;
  font-size: 1rem;
  margin-left: 2rem;
}

main .content .leftSide .sideMenu .menu-item i .countNotification {
  background-color: #fb5151;
  font-size: 0.5rem;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

main .content .leftSide .sideMenu .menu-item h3 {
  font-size: 1rem;
  margin-left: 1.3rem;
}

@media screen and (max-width: 1300px) {
  main .content .leftSide .sideMenu .menu-item h3 {
    display: none;
  }
}

@media screen and (max-width: 939px) {
  main .content .leftSide .sideMenu .menu-item h3 {
    display: block;
  }
}

main .content .leftSide .sideMenu .active {
  background-color: #ccc;
}

main .content .leftSide .sideMenu .active i {
  color: #f8225f;
}

main .content .leftSide .sideMenu .active h3 {
  color: #f8225f;
}

main .content .leftSide .sideMenu .active::before {
  content: " ";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background-color: #f8225f;
}

main .content .leftSide .sideMenu .active:first-child {
  border-top-left-radius: 1rem;
  overflow: hidden;
}

main .content .leftSide .sideMenu .active:last-child {
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}

main .content .leftSide .lastbtn {
  display: block;
  padding: 1rem 4vw;
  margin-bottom: 12px;
}

@media screen and (max-width: 1300px) {
  main .content .leftSide .lastbtn {
    display: none;
  }
}

main .content .leftSide .notification-update {
  position: absolute;
  top: 10px;
  left: 110%;
  width: 30rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0 0 2rem #f8225f, 75%, 60% 25%;
          box-shadow: 0 0 2rem #f8225f, 75%, 60% 25%;
  z-index: 8;
}

@media screen and (max-width: 939px) {
  main .content .leftSide .notification-update {
    position: absolute;
    left: 26px;
    top: 59px;
    width: 18rem;
    -webkit-box-shadow: 0 0 2rem #000000bf;
            box-shadow: 0 0 2rem #000000bf;
  }
}

main .content .leftSide .notification-update small {
  display: block;
  color: #9e98b3c2;
  margin-top: 2px;
  font-weight: 600;
}

main .content .leftSide .notification-update::before {
  content: " ";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: -0.6rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 939px) {
  main .content .leftSide .notification-update::before {
    top: -10px;
    left: 8.8rem;
    display: block;
  }
}

@media screen and (max-width: 939px) {
  main .content .middleArea {
    -ms-grid-column: 12;
    -ms-grid-column-span: -9;
    grid-column: 12/3;
  }
}

main .content .middleArea .stories {
  height: 12rem;
  gap: 0.5rem;
}

main .content .middleArea .stories .slid2 {
  background: url(/styles/img/image4.jpg) no-repeat center center/cover;
}

@media screen and (max-width: 441px) {
  main .content .middleArea .stories .slid2 {
    display: none;
  }
}

main .content .middleArea .stories .slidefirst {
  background: url(/styles/img/image3.jpg) no-repeat center/cover;
}

main .content .middleArea .stories .slidesecond {
  background: url(/styles/img/images7.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .slid3 {
  background: url(/styles/img/image8.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .mary1 {
  background: url(/styles/img/computerWolrd.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .Willams1 {
  background: url(/styles/img/imge7.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .none2 {
  display: none !important;
}

main .content .middleArea .stories .pic1 {
  background: url(/styles/img/people8.jpg) no-repeat center center/cover;
  display: none !important;
}

main .content .middleArea .stories .david {
  background: url(/styles/img/cool8.jpeg) no-repeat center center/cover;
}

main .content .middleArea .stories .mark {
  background: url(/styles/img/cool7.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .lisa {
  background: url(/styles/img/cool9.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .jacob {
  background: url(/styles/img/cool1.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .linus {
  background: url(/styles/img/cool3.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .sarah {
  background: url(/styles/img/people4bb.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .Stephanie {
  background: url(/styles/img/people4b.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .force {
  background: url(/styles/img/office.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .donald {
  background: url(/styles/img/blackhome.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .joyce {
  background: url(/styles/img/people5.jpg) no-repeat center center/cover;
}

main .content .middleArea .stories .family {
  background: url(/styles/img/family.jpg) no-repeat center center/cover;
}

@media screen and (min-width: 400px) {
  main .content .middleArea .stories .mobile-none-1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 500px) {
  main .content .middleArea .stories .mobile-none-2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 600px) {
  main .content .middleArea .stories .mobile-none-3 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 744px) {
  main .content .middleArea .stories .mobile-none-4 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 876px) {
  main .content .middleArea .stories .mobile-none-5 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

main .content .middleArea .stories .story {
  border-radius: 1rem;
  font-size: 0.75rem;
  overflow: hidden;
}

main .content .middleArea .stories .story::before {
  content: "";
  width: 100%;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000bf));
  background: linear-gradient(transparent, #000000bf);
  position: absolute;
  bottom: 0;
}

main .content .middleArea .stories .story .profile-imgs img {
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 3px solid #f8225f;
}

main .content .middleArea .Createpost {
  background-color: #ffffff;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
}

main .content .middleArea .Createpost .createinput {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  margin-right: 1rem;
}

main .content .middleArea .Createpost .createinput:focus {
  outline: none;
  border: none;
}

main .content .middleArea .feeds .feed {
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

main .content .middleArea .feeds .feed .mainPhoto {
  position: relative;
  margin: 0.75rem 0;
}

main .content .middleArea .feeds .feed .mainPhoto img {
  border-radius: 1rem;
}

main .content .middleArea .feeds .feed .actionbuttons {
  font-size: 1.4rem;
  margin: 0.9rem;
}

main .content .middleArea .feeds .feed .likebyupdate span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #ffffff;
  margin-left: -0.6rem;
}

main .content .middleArea .feeds .feed .likebyupdate span:first-child {
  margin: 0;
}

main .content .middleArea .feeds .feed .likebyupdate p {
  margin-left: 0.5rem;
}

main .content .rightSide {
  position: static;
  top: -18rem;
  bottom: 0;
}

@media screen and (max-width: 939px) {
  main .content .rightSide {
    display: none;
  }
}

main .content .rightSide .messagesarea {
  background-color: #ffffff;
  border-radius: 1rem;
}

main .content .rightSide .messagesarea .messageCategory h6 {
  border-bottom: 4px solid #ccc;
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

main .content .rightSide .messagesarea .messageCategory .messageRequest {
  color: #f8225f;
}

main .content .rightSide .messagesarea .messageCategory .active {
  border-color: #000000;
}

main .content .rightSide .messagesarea .message p {
  font-size: 0.8rem;
}

main .content .rightSide .messagesarea .message .profile-imgs .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  border: 3px solid #ffffff;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  background-color: #2ecc71;
}

main .content .rightSide .friendRequest h4 {
  color: #ccc;
  margin: 1rem 0;
}

main .content .rightSide .friendRequest .request {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
}

main .content .rightSide .friendRequest .request .requestInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .content .rightSide .friendRequest .request .btn {
  font-weight: 600 !important;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.customizeTheme {
  place-items: center;
  background-color: #ffffff80;
  width: 100vw !important;
  height: 100vh !important;
  font-size: 1rem;
}

.customizeTheme .card {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem #6b4ce6;
          box-shadow: 0 0 1rem #6b4ce6;
}

@media screen and (max-width: 1200px) {
  .customizeTheme .card {
    width: 80vw;
  }
}

@media screen and (max-width: 939px) {
  .customizeTheme .card {
    width: 92vw !important;
  }
}

@media screen and (max-width: 500px) {
  .customizeTheme .card {
    width: 97% !important;
    padding: 20px;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

.customizeTheme .card .fontSizeOption {
  margin-top: 5rem;
}

.customizeTheme .card .fontSizeOption > div {
  background-color: #dbd3d3;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.customizeTheme .card .fontSizeOption .chooseSize {
  background-color: #9e98b3c2;
  height: 0.3rem;
  margin: 0 1rem;
}

.customizeTheme .card .fontSizeOption .chooseSize span {
  width: 1rem;
  height: 1rem;
  background-color: #9e98b3c2;
  border-radius: 100%;
  cursor: pointer;
}

.customizeTheme .card .fontSizeOption .chooseSize span.active {
  background-color: #f8225f;
}

.customizeTheme .card .colorOption {
  margin-top: 2rem;
}

.customizeTheme .card .colorOption .chooseColor {
  background-color: #dbd3d3;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.customizeTheme .card .colorOption .chooseColor span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
}

.customizeTheme .card .colorOption .chooseColor span:nth-child(1) {
  background-color: #6b4ce6;
}

.customizeTheme .card .colorOption .chooseColor span:nth-child(2) {
  background-color: #e6d14c;
}

.customizeTheme .card .colorOption .chooseColor span:nth-child(3) {
  background-color: #e64c61;
}

.customizeTheme .card .colorOption .chooseColor span:nth-child(4) {
  background-color: #4ce69e;
}

.customizeTheme .card .colorOption .chooseColor span:nth-child(5) {
  background-color: #4cade6;
}

.customizeTheme .card .colorOption .chooseColor span.active {
  border: 5px solid #ffffff;
}

.customizeTheme .card .bacgroungOption {
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .customizeTheme .card .bacgroungOption .choose-bg {
    gap: 12px;
  }
}

.customizeTheme .card .bacgroungOption .choose-bg > div {
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.4rem;
}

@media screen and (max-width: 500px) {
  .customizeTheme .card .bacgroungOption .choose-bg > div {
    padding: 3px;
  }
}

.customizeTheme .card .bacgroungOption .choose-bg > div.active {
  border: 2px solid #6b4ce6;
}

.customizeTheme .card .bacgroungOption .choose-bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid #ccc;
  border-radius: 100%;
  margin-right: 1rem;
}

.customizeTheme .card .bacgroungOption .choose-bg .bg-1 {
  background-color: #ffffff;
  color: #000000;
}

.customizeTheme .card .bacgroungOption .choose-bg .bg-2 {
  background-color: #241e38;
  color: #ffffff;
}

.customizeTheme .card .bacgroungOption .choose-bg .bg-3 {
  background-color: #151221;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .customizeTheme .card .bacgroungOption .choose-bg .bg-3 span {
    width: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */